* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: hsl(202, 86%, 94%);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Plus Jakarta Sans", sans-serif;
}

main {
    width: min(90%, 750px);
    /*
        Defined from JSX:
        height: min(95%, 450px);
    */
    background-color: hsl(0, 0%, 100%);

    border-radius: 20px;
    overflow: hidden;

    display: flex;
}

@media (max-width: 600px) {
    main {
        width: min(100%, 375px);
        height: 95%;

        display: flex;
        flex-direction: column;
        border-radius: 0;
    }

    .leftSide {
        width: 100%;
        height: 55%;
    }

    .rightSide {
        width: 100%;
        height: 45%;

        background-color: hsl(202, 55%, 16%);
        border-bottom-left-radius: 0;
    }
}
